* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 67.5%;
  font-family: "Source Sans Pro", sans-serif;
  background-image: linear-gradient(130deg, green, darkmagenta);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 4em;
}
.block {
  padding: 3em;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 2em;
}

label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #28232d;
}

input[type="number"] {
  font-size: 1.2rem;
  width: 100%;
  padding: 12px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 12px;
  border: none;
  background-color: #4c516d;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #2c3043;
}

p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.result {
  display: none;
  margin-top: 2em;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  background-image: linear-gradient(130deg, lime, magenta);
}
